<div class="site-banner">
    <div class="site-banner-bg" style="background: url(http://dl.bizhi.sogou.com/images/2012/02/16/174939.jpg) left top no-repeat;background-size:cover; background-color: #010600;">
    </div>
    <div class="site-banner-main">
        <div class="site-zfj">
            <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.7);">&#xe609;</i>
        </div>
        <div class="layui-anim" style="line-height: 2.6em;color: #eee;font-size: 2.5em;">
            专注于前端开发和管理
        </div>
        <!-- <div class="site-download">
            <a href="http://git.oschina.net/apiadmin/ApiAdmin/repository/archive/v2.0.1" class="layui-inline site-down" target="_blank">
                <cite class="layui-icon">&#xe601;</cite>
                立即下载
            </a>
        </div> -->
        <div class="site-version">
            <!-- <span>当前版本：<cite class="site-showv">v2.0.1</cite></span>
            <span><a href="http://git.oschina.net/apiadmin/ApiAdmin/releases" target="_blank">更新日志</a></span>
            <span>下载量：<em class="site-showdowns">2782</em></span> -->
            <span>本站所有实例仅供参考，如对您有帮助可随便用</span>
        </div>
    </div>
</div>