 <div class="layui-footer footer footer-index">
    <div class="layui-main">
        <p>&copy; 2017 <a target="_blank" href="/">demo.sailengsi.com</a> <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License2.0</a></p>
        <p>
            <!-- <a href="https://admin.apiadmin.org/" target="_blank">案例</a> -->
            <!-- <a href="javascript:layer.msg('请在开源项目中捐赠！');" target="_blank">捐赠</a> -->
            <a href="https://sailengsi.com/About/index" target="_blank">联系我</a>
            <a href="https://github.com/sailengsi" target="_blank">Git仓库</a>
            <!-- <a href="javascript:;" target="_blank">微信小程序</a> -->
        </p>
    </div>
</div>