<meta charset="utf-8">
<title>SlsDemos - 专注于前端的开发和管理</title>
<meta name="keywords" content="赛冷思,赛冷思个人博客,赛冷思演示,赛冷思demo,赛冷思css,赛冷思js,赛冷思javascript,赛冷思jquery,赛冷思vue,赛冷思react,赛冷思angular">
<meta name="description" content="赛冷思在日常开发者积累的常见demo，自己源码实现，代码开源，可供参考。">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="./static/lib/layui/css/layui.css" media="all">
<link rel="stylesheet" href="./static/less/common.less" media="all">
<!--<script src="./layui/layui.js" charset="utf-8"></script>-->
<script src="./static/lib/layui/layui.all.js" charset="utf-8"></script>