<div class="layui-header header header-index">
    <div class="layui-main">
        <a class="logo" href="/" style="font-size: 1.9em;line-height: 1em;color: #eee;">SlsDemos</a>
        <ul class="layui-nav" pc>
            <li class="layui-nav-item">
                <a href="https://sailengsi.com/" target="_blank">个人博客</a>
            </li>
            <li class="layui-nav-item">
                <a href="https://github.com/sailengsi/" target="_blank">GitHub</a>
            </li>
            <!-- <li class="layui-nav-item" pc>
                <a href="http://fly.layui.com/" target="_blank">社区</a>
            </li> -->
            <!-- <li class="layui-nav-item" pc>
                <a href="javascript:;">社交</a>
                <dl class="layui-nav-child">
                    <dd><a href="https://sailengsi.com/" target="_blank">个人博客</a></dd>
                    <dd><a href="https://github.com/sailengsi/" target="_blank">GitHub</a></dd>
                </dl>
            </li> -->
        </ul>
    </div>
</div>